# Dash / Front-end
dash
dash-bootstrap-components
plotly

# Banco de dados
psycopg2-binary

# Manipulação de dados
pandas
numpy

# Configuração / utilidades
python-dotenv

# API
fastapi[standard]
pydantic
