* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    border: none;
}

html, body {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

#react-entry-point,
._dash-app-content {
    height: 100%;
    width: 100%;
}

.main {
    width: 100%;
    height: 100%;   

    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    padding: 10px 0px;
    display: grid;
    place-content: center;
    border-bottom: 1px solid grey;
}

.content {
    display: flex;
    height: 100%;
    width: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    width: 25%;
    height: 100%;

    padding: 10px 20px;
    border-right: 1px solid grey;
}

.item-dd {
    width: 100%;
}